---
layout: default
---

<article id="main">
    <header class="special container">
        <h2>Our <strong>Blog</strong></h2>
        <h3><a href="/category.html" class="btn btn-5 btn-5a t0t0-cat-mark" style="border-bottom:none"><span><strong>category</strong></span></a><a href="/tags.html" class="btn btn-5 btn-5a codinfox-tag-mark"><span><strong>tags</strong></span></a></h3>
    </header>
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt | strip_html}}
                <section class="special">
                <br />
                    <ul class="buttons">
                        <li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
    </section>
</article>